<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
  <title>Alfred</title>

  <!-- Load out assets: Bootstrap, Font Awesome Icons, and custom CSS !-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <!-- Load custom css -->
  <link rel="stylesheet" href="http://babbage.cs.missouri.edu/~jsc8vf/assets/custom.css">

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Alfred</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="/logout" class="btn btn-danger navbar-right log"><span class="fa fa-unlink"></span> Logout</a>
    </div>
  </nav>

  <div class="container">

    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1><span class="fa fa-users"></span> Add User</h1>
        </div>

        <div class="panel-body">
          <form action="/access" method="post">
            <div class="form-group">
              <input type="text" class="form-control" name="username" placeholder="Username">
            </div>

            <div class="form-group">
              <input type="radio" class="form-control" name="access" value="admin"/><span>Make admin.</span>
              <input type="radio" class="form-control" name="access" value="not" checked="checked"/> Give one day access.
            </div>
            <hr>
            <button type="submit" class="btn btn-success">Grant Access</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
