<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
  <title>Automata</title>

  <!-- Load out assets: Bootstrap, Font Awesome Icons, and custom CSS !-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

  <!-- Load custom css -->
  <link rel="stylesheet" href="http://babbage.cs.missouri.edu/~jsc8vf/assets/custom.css">

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Automata</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="/logout" class="btn btn-danger navbar-right log"><span class="fa fa-unlink"></span> Logout</a>
    </div>
  </nav>

  <!-- Jumbotron -->
  <div class="jumbotron text-center">
    <div class="container">
      <h1><span class="fa fa-cogs"></span> Automata</h1>

      <p>Login or Register:</p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span> Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Register</a>
    </div>
  </div>

</body>
</html>
