<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>Alfred</title>

  <!-- Load out assets: Bootstrap, Font Awesome Icons, and custom CSS !-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Load custom css -->
  <link rel="stylesheet" href="http://babbage.cs.missouri.edu/~jsc8vf/assets/custom.css">

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-inverse" role="navigation">
      <div class="navbar-header pull-left">
        <div class="navbar-brand">Alfred</div>
      </div>

      <div class="navbar-header pull-right">
        <ul class="nav navbar-nav pull-left">
          <li class="btn btn-danger"><a href="/logout">Log Out</a> </li>
        </ul>
      </div>
  </nav>

<!--
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Alfred</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="/logout" class="btn btn-danger navbar-right log visible-cs-*"><span class="fa fa-unlink"></span> Logout</a>
    </div>
  </nav>
  -->

  <div class="container">
    <div class="col-md-6 col-md-offset-3">

      <div class="panel panel-default">

        <div class="panel-heading">
          <h1><span class="fa fa-home"></span> Home</h1>
        </div>

        <div class="panel-body">

          <!-- Show messages that come back from attempted function, errors. -->
          <% if (message.length > 0) { %>
            <div class="alert alert-danger"><%= message %></div>
          <% } %>

          <!-- Show messages that come back from attempted function, errors. -->
          <% if (info.length > 0) { %>
            <div class="alert alert-success" role="alert"><%= info %></div>
          <% } %>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a role="button" class="btn btn-warning" href="/door"><span class="fa fa-angle-double-up"></span> Unlock Door</a>
            <a role="button" class="btn btn-warning" href="/lock"><span class="fa fa-angle-double-down"></span> Lock Door</a>
          </div>

          <hr>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a role="button" class="btn btn-warning" href="/garage"><span class="fa fa-truck"></span> Operate Garage</a>
          </div>

          <hr>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a role="button" class="btn btn-warning" href="/arm"><span class="fa fa-lock"></span> Arm System</a>
            <a role="button" class="btn btn-warning" href="/disarm"><span class="fa fa-unlock-alt"></span> Unarm System</a>
            <a role="button" class="btn btn-warning" href="/status"><span class="fa fa-bell-o"></span> System Status</a>
          </div>

          <hr>

          <div class="btn-group btn-group-justified" role="group" aria-label="...">
            <a role="button" class="btn btn-warning" href="/access"><span class="fa fa-user-plus"></span> Grant Access</a>
          </div>
        </div>
      </div>

    </div>

  </div>
</body>
</html>
