<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
  <title>Alfred</title>

  <!-- Load out assets: Bootstrap, Font Awesome Icons, and custom CSS !-->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <!-- Load custom css -->
  <link rel="stylesheet" href="http://babbage.cs.missouri.edu/~jsc8vf/assets/custom.css">

</head>
<body>

  <!-- Navbar -->
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Alfred</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
      </ul>
      <a href="/logout" class="btn btn-danger navbar-right log"><span class="fa fa-unlink"></span> Logout</a>
    </div>
  </nav>

  <div class="container">

    <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h1><span class="fa fa-bell-o"></span> Security Status</h1>
        </div>

        <table class="table">
          <tr>
            <th>Item</th>
            <th>Status</th>
          </tr>

          <tr>
            <td>System</td>
            <% if (armed) { %>
              <td>Armed</td>
            <% } else { %>
              <td>Unarmed</td>
            <% } %>

          <tr>
            <td>Front Door</td>
            <!-- Display info about the door. -->
            <% if (door) { %>
              <td>Secure</td>
            <% } else { %>
              <td>Breached</td>
            <% } %>
          </tr>
          <tr>
            <td>Window</td>
            <!-- Display info about the window. -->
            <% if (wind) { %>
              <td>Secure</td>
            <% } else { %>
              <td>Breached</td>
            <% } %>
          </tr>
        </table>
      </div>

    </div>

  </div>
</body>
</html>
